In [3]:
import pandas as sk
data = [10, 20, 30, 40]#one dimenaional array
v = sk.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
siri={
    'Name':["Shirisha","Chandu","Sonaly","Avani","Rohith"],
    'Age':[20,25,9,7,5],
    
}#dicionary for mutiple attributes means rows and columns
df=sk.DataFrame(siri)
print(df)

       Name  Age
0  Shirisha   20
1    Chandu   25
2    Sonaly    9
3     Avani    7
4    Rohith    5

In [7]:
df=sk.read_csv("transactions.csv")#to read the csv file and convert it into dataframe or table ie:csv file
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [9]:
df.head()#By default it reads top 5 row values starts from 0 index

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [11]:
#to read more than 5 we need to mention a range
df.head(10)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [13]:
df.tail()# it reads top 5 row values from bottom

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [15]:
df.tail(10)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [17]:
df.info()#it returns each column null values and gives information about dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes

In [19]:
df.describe()

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [19]:
#describe() method describes about mean count max min
print("ProductID mean {} ".format(df["ProductID"].mean()))#to print the particular column mean

ProductID mean 3.4

In [22]:
df["ProductID"].median()

4.0

In [25]:
df["ProductID"].count()

10

In [26]:
df["ProductID"].std()

1.0749676997731399

In [27]:
df["ProductID"].min()

2

In [21]:
df["ProductID"].max()

5

In [23]:
print("25th percentile : {} ".format(df["ProductID"].quantile(0.25)))#for 25% percentile
print("50thth percentile : {} ".format(df["ProductID"].quantile(0.50)))#for 50% percentile we call as meadian
print("75th percentile : {} ".format(df["ProductID"].quantile(0.75)))#for 75% percentile

25th percentile : 2.25
50thth percentile : 4.0
75th percentile : 4.0

In [25]:
df["ProductID"].mode()
#print(df["ProductID"].mode()[0])  # First mode value

0    4
Name: ProductID, dtype: int64

In [39]:
df #accessing all columns
df["UserID"]#ACCESSING SPECIFIC column

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [27]:
print(df[['ProductID', 'UserID']])#MUTILPLE columns

   ProductID  UserID
0          2     7.0
1          4     3.0
2          3     3.0
3          2     1.0
4          4     2.0
5          5     2.0
6          4     3.0
7          2     NaN
8          4     7.0
9          4     3.0

In [42]:
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [29]:
df.iloc[7,2]#row,column

nan

In [48]:
df.iloc[7:,0:]#to print from the last
df.iloc[-1:,-1:]

   Quantity
9         4

In [31]:
df1 = df[df['Quantity'] < 3]
print(df1)#filters the data means the compare the value and print if condition is true

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1

In [33]:
df.rename(columns={"TransactionID":"ID"})

   ID TransactionDate  UserID  ProductID  Quantity
0   1      2010-08-21     7.0          2         1
1   2      2011-05-26     3.0          4         1
2   3      2011-06-16     3.0          3         1
3   4      2012-08-26     1.0          2         3
4   5      2013-06-06     2.0          4         1
5   6      2013-12-23     2.0          5         6
6   7      2013-12-30     3.0          4         1
7   8      2014-04-24     NaN          2         3
8   9      2015-04-24     7.0          4         3
9  10      2016-05-08     3.0          4         4

In [35]:
df.isnull().sum()#checks is there any null or nan in dataframe

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

In [79]:
#df.fillna(0)

   ID TransactionDate    UserID  ProductID  Quantity
0   1      2010-08-21  7.000000          2         1
1   2      2011-05-26  3.000000          4         1
2   3      2011-06-16  3.000000          3         1
3   4      2012-08-26  1.000000          2         3
4   5      2013-06-06  2.000000          4         1
5   6      2013-12-23  2.000000          5         6
6   7      2013-12-30  3.000000          4         1
7   8      2014-04-24  3.444444          2         3
8   9      2015-04-24  7.000000          4         3
9  10      2016-05-08  3.000000          4         4

In [82]:
df['UserID'].fillna(df['UserID'].mean(), inplace=True)#it replaces with me

In [83]:
df

   ID TransactionDate    UserID  ProductID  Quantity
0   1      2010-08-21  7.000000          2         1
1   2      2011-05-26  3.000000          4         1
2   3      2011-06-16  3.000000          3         1
3   4      2012-08-26  1.000000          2         3
4   5      2013-06-06  2.000000          4         1
5   6      2013-12-23  2.000000          5         6
6   7      2013-12-30  3.000000          4         1
7   8      2014-04-24  3.444444          2         3
8   9      2015-04-24  7.000000          4         3
9  10      2016-05-08  3.000000          4         4

In [37]:
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [20]:
df_cleaned = df.dropna(axis=1)  # Drops columns with NaN values
print(df_cleaned)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [39]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"], ascending=[True, False])
#ascending=[True, False])#true means sort in accesing based on quantity and false means desending based on TransactionDate
print(df_sorted.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [41]:
import pandas as pd
df=pd.read_csv("transactions.csv")
df_sorted=df.sort_values(by="Quantity")
print(df_sorted)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [25]:
subset=df[df['Quantity']>1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [34]:
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [33]:
subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [49]:
df['NewColumn']= df['Quantity'] * 2
print(df.head())#inserting a new column

   TransactionID TransactionDate  UserID  ProductID  Quantity  NewColumn
0              1      2010-08-21     7.0          2         1          2
1              2      2011-05-26     3.0          4         1          2
2              3      2011-06-16     3.0          3         1          2
3              4      2012-08-26     1.0          2         3          6
4              5      2013-06-06     2.0          4         1          2

In [51]:
df['NewColumn'] = df['Quantity'] * 2
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  NewColumn
0              1      2010-08-21     7.0          2         1          2
1              2      2011-05-26     3.0          4         1          2
2              3      2011-06-16     3.0          3         1          2
3              4      2012-08-26     1.0          2         3          6
4              5      2013-06-06     2.0          4         1          2

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     datetime64[ns]
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
 5   NewColumn        10 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 612.0 bytes

In [46]:
df['TransactionDate']=pd.to_datetime(df['TransactionDate'])

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     datetime64[ns]
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
 5   NewColumn        10 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 612.0 bytes

In [5]:
#Exercise Questions
#1. Print Summary of transaction data set
import pandas as pd
df=pd.read_csv("transactions.csv")
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
#2. Print Numbers of Attributes
print("Columns are : ",df.shape[1])

Columns are :  5

In [9]:
#3. Print Numbers of Records
print("Rows are : ",df.shape[0])

Rows are :  10

In [11]:
#4. Get the row names
print("Row names ",df.index.tolist())

Row names  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
#5. Get the column names
print("Column names:", df.columns.tolist())

Column names: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [65]:
#6. View top 10 Records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [15]:
#7.Change the name of column “ Quantity” to “Quant”
name=df.rename(columns={"Quantity":"Quant"})
#df['Quantity']=df[df["Quant"]]
print(name)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [17]:
#8.Change the name of columns ProductID and UserID
name=df.rename(columns={"ProductID":"PID","UserID":"UID"})
print(name)

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [19]:
#9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True
sort_tid=df.sort_values(by="TransactionID",ascending=[False])
print(sort_tid)

   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
6              7      2013-12-30     3.0          4         1
5              6      2013-12-23     2.0          5         6
4              5      2013-06-06     2.0          4         1
3              4      2012-08-26     1.0          2         3
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

In [21]:
#10. Order the rows of transactions by Quantity ascending, TransactionDate descending
sort=df.sort_values(by=["Quantity","TransactionDate"],ascending=[True,False])
print(sort)

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [86]:
#11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID
import pandas as pd
df = pd.read_csv("transactions.csv")

# Select specific columns in a new DataFrame
order = df.loc[:, ["ProductID", "Quantity", "TransactionDate", "TransactionID", "UserID"]]

# Print the selected columns
print(order)

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [23]:
#12. Make UserID the first column of transactions
import pandas as pd
df = pd.read_csv("transactions.csv")
df = df[["UserID"] + [col for col in df.columns if col != "UserID"]]
print(df)

   UserID  TransactionID TransactionDate  ProductID  Quantity
0     7.0              1      2010-08-21          2         1
1     3.0              2      2011-05-26          4         1
2     3.0              3      2011-06-16          3         1
3     1.0              4      2012-08-26          2         3
4     2.0              5      2013-06-06          4         1
5     2.0              6      2013-12-23          5         6
6     3.0              7      2013-12-30          4         1
7     NaN              8      2014-04-24          2         3
8     7.0              9      2015-04-24          4         3
9     3.0             10      2016-05-08          4         4

In [33]:
#13. Extracting arrays from a Data Frame. Get the 2nd column
#second_column = df.iloc[:, 1]
#print(" TransactionID\n{}".format(second_column))
TransactionID_array = df["TransactionID"].values  # Extract as a NumPy array
print("TransactionID Array:", TransactionID_array)

TransactionID Array: [ 1  2  3  4  5  6  7  8  9 10]

In [41]:
#14. Get the ProductID Array
#second_column = df.iloc[:, 3]
#print(" ProductID\n{}".format(second_column))
#another approach
ProductID_array = df["ProductID"].values  # Extract as a NumPy array
print("ProductID Array:", ProductID_array)
"""ProductID_list = df["ProductID"].tolist()
print("ProductID List:", ProductID_list)"""

ProductID Array: [2 4 3 2 4 5 4 2 4 4]

'ProductID_list = df["ProductID"].tolist()\nprint("ProductID List:", ProductID_list)'

In [37]:
#15. Get the ProductId array using the following variableData Mining Lab Manual AY:19-20 Page 5
ProductId_array = df["ProductID"].values  # Extracting ProductID column as an array
print("ProductId Array:", ProductId_array)

ProductId Array: [2 4 3 2 4 5 4 2 4 4]

In [2]:
#16.Row subsetting, subset rows 1,3 and 6
import pandas as pd
df=pd.read_csv("transactions.csv")
subset_rows = df.iloc[[1, 3, 6]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

In [37]:
#17. subset rows excluding 1,3 and 6
import pandas as pd
df=pd.read_csv("transactions.csv")
subset_rows_exclude=df.drop([1,3,6])
print(subset_rows_exclude)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [16]:
#18. Subset the first three rows
import pandas as pd
df=pd.read_csv("transactions.csv")
subset_Three_rows=df.iloc[:3]
print(subset_Three_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [17]:
#19. Subset the last 2 rows
import pandas as pd
df=pd.read_csv("transactions.csv")
subset_last_rows=df.iloc[-2:]
print(subset_last_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [19]:
#20. Subset rows excluding the last 2 rows
import pandas as pd
df=pd.read_csv("transactions.csv")
subset_last_rows_excluding=df.iloc[:-2]
print(subset_last_rows_excluding)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [24]:
#21. Subset rows excluding the first 3 rows
import pandas as pd
df=pd.read_csv("transactions.csv")
subset_First3Exclude=df.iloc[4:]
print(subset_First3Exclude)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [41]:
#22. Subset rows where Quantity>1
import pandas as pd
df=pd.read_csv("transactions.csv")
subset=df[df['Quantity']>1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [34]:
# 23. Subset rows where UserID=2
import pandas as pd
df=pd.read_csv("transactions.csv")
subset=df[df['UserID']==2]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [36]:
# 24. Subset rows where Quantity>1 and UserID=2
import pandas as pd
df=pd.read_csv("transactions.csv")
subset=df[(df['Quantity']>1) & (df['UserID']==2)]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [51]:
#25. Subset rows where Quantity + UserID is >3
import pandas as pd
df=pd.read_csv("transactions.csv")
subset=df[(df['Quantity'] + df['UserID']>3)]
    
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [63]:
#26. Subset rows where an external array, foo, is True

import pandas as pd

# Load DataFrame
df = pd.read_csv("transactions.csv")

# Create a Boolean Series with the same length as df
foo = pd.Series([True, False] * (len(df) // 2) + [True] * (len(df) % 2))  # Extends pattern to match df length

# Subset DataFrame where foo is True
sub_foo = df[foo.values]  # Use .values to avoid index mismatch

print(sub_foo)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [67]:
#27. Subset rows where an external array, bar, is positive
import pandas as pd

# Load the dataset
df = pd.read_csv("transactions.csv")

# Create an external array (same length as df)
bar = pd.Series([10, -5, 20, -8, 15] * (len(df) // 5) + [10] * (len(df) % 5))  # Example data

# Subset rows where `bar` is positive
sub_bar = df[bar > 0]

# Display the filtered DataFrame
print(sub_bar)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
9             10      2016-05-08     3.0          4         4

In [69]:
#28. Subset rows where foo is TRUE or bar is negative
import pandas as pd

# Load DataFrame
df = pd.read_csv("transactions.csv")

# External Boolean Series (must match df length)
foo = pd.Series([True, False, True, False, True] * (len(df) // 5) + [True] * (len(df) % 5))

# External Numeric Series (must match df length)
bar = pd.Series([10, -5, 20, -8, 15] * (len(df) // 5) + [10] * (len(df) % 5))

# Subset rows where foo is True OR bar is negative
sub_df = df[(foo == True) | (bar < 0)]

# Display the filtered DataFrame
print(sub_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [71]:
#29. Subset the rows where foo is not TRUE and bar is not negative
import pandas as pd

# Load dataset
df = pd.read_csv("transactions.csv")

# Example external arrays (must match df length)
foo = pd.Series([True, False, True, False, True] * (len(df) // 5) + [True] * (len(df) % 5))
bar = pd.Series([10, -5, 20, -8, 15] * (len(df) // 5) + [10] * (len(df) % 5))

# Subset rows where foo is NOT True AND bar is NOT negative
sub_foo_bar = df[(foo != True) & (bar >= 0)]  # foo is False AND bar is positive or zero

# Display the filtered DataFrame
print(sub_foo_bar)

Empty DataFrame
Columns: [TransactionID, TransactionDate, UserID, ProductID, Quantity]
Index: []

In [77]:
#30. Subset by columns 1 and 3
import pandas as pd
df=pd.read_csv("transactions.csv")
subset=df.iloc[:,[1,3]]
#subset_df = df.iloc[:, [0, 2]]
print(subset)

  TransactionDate  ProductID
0      2010-08-21          2
1      2011-05-26          4
2      2011-06-16          3
3      2012-08-26          2
4      2013-06-06          4
5      2013-12-23          5
6      2013-12-30          4
7      2014-04-24          2
8      2015-04-24          4
9      2016-05-08          4

In [52]:
#31. Subset by columns TransactionID and TransactionDate
import pandas as pd
df=pd.read_csv("transactions.csv")
subset=df[["TransactionID", "TransactionDate"]]
print(subset)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [79]:
#32. Subset by columns TransactionID and TransactionDate with logical operator.

# Subset using OR condition
subset_df = df.loc[:, (df.columns == "TransactionID") | (df.columns == "TransactionDate")]

print(subset_df)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [54]:
#33. Subset columns by a variable list of column names.

# Variable list of column names
columns_to_subset = ['TransactionID', 'TransactionDate']

# Subset the DataFrame using the variable list
subset_df = df[columns_to_subset]

print(subset_df)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [61]:
#34. Subset columns excluding a variable list of column names.

# Variable list of columns to exclude
columns_to_exclude = ['TransactionID', 'UserID']

# Subset the DataFrame by excluding the columns in the list
subset_df = df.drop(columns=columns_to_exclude)

print(subset_df)

   TransactionDate  ProductID  Quantity  Discount  TotalAmount
0       2010-08-21          2         1       NaN          NaN
1       2011-05-26          4         1       NaN          NaN
2       2011-06-16          3         1       NaN          NaN
3       2012-08-26          2         3       NaN          NaN
4       2013-06-06          4        10       NaN          NaN
5       2013-12-23          5         6       NaN          NaN
6       2013-12-30          4         1       NaN          NaN
7       2014-04-24          2         3      15.0        285.0
8       2015-04-24          4         3       NaN          NaN
9       2016-05-08          4         4       NaN          NaN
10      2017-05-10          3         2      12.0        188.0

In [19]:
#35. Inserting and updating values.
#35
df["New"] = "Value"  # Adds a column with a default value

#print(df)
df.loc[df["Quantity"] > 0, "New"] = "High"  # Updates based on a condition
df

   TransactionID TransactionDate  UserID  ProductID  Quantity   New
0              1      2010-08-21     7.0          2         1  High
1              2      2011-05-26     3.0          4         1  High
2              3      2011-06-16     3.0          3         1  High
3              4      2012-08-26     1.0          2         3  High
4              5      2013-06-06     2.0          4         1  High
5              6      2013-12-23     2.0          5         6  High
6              7      2013-12-30     3.0          4         1  High
7              8      2014-04-24     NaN          2         3  High
8              9      2015-04-24     7.0          4         3  High
9             10      2016-05-08     3.0          4         4  High

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     datetime64[ns]
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 532.0 bytes

In [63]:
#36. Convert the TransactionDate column to type Date
import pandas as pd
df=pd.read_csv("transactions.csv")
df['TransactionDate'] =pd.to_datetime(df['TransactionDate'])

print("\nAfter Converting 'TransactionDate' to Date Type:")
print(df)

After Converting 'TransactionDate' to Date Type:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [1]:
#37. Insert a new column, Foo=UserID+ProductID.
import pandas as pd
df=pd.read_csv("transactions.csv")
df['Foo'] = df['UserID'] + df['ProductID']
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2         1   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0